body {
	font-family: 'Ubuntu', sans-serif;
}

.header {
	padding: 2em 0 0;
}
h1.titlelogo a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5em;
	color: #32323c;
}

#menutop {
	text-align: right;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	padding-left: 2em;
	font-weight: bold;
}


#menutop .signup {
	color: #ff7743;
}

#menutop .signup:hover {
	color: #f44a09;
}

#menutop .signin {
	color: #32323c;
}

#menutop .signin:hover {
	color: #4b4b4b;
}

#menutop a {
	padding-left: 1em;
}

#menubox {
	text-align: right;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
}

#menubox a {
	padding-left: 1em;
	color: #9696a0;
}

.count {
	text-align: center;
}

#lang {
	color: #ff7743;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
}

.dlang {
	color: #9696a0;
}

.menugroup {
	margin-top: 5em;
	margin-bottom: 2em;
}

.debat {
	padding-top: 2em;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.8em;
	color: #32323a;
}

.opinion {
	padding-top: 3.5em;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}

.upcount {
	color : #9696a0;
	font-size: 3em;
	position: relative;
	top: 0.35em;
}

.downcount {
	color : #9696a0;
	font-size: 3em;
	position: relative;
	bottom: 0.35em;
}

.ouicount {
	font-family: 'Ubuntu', sans-serif;
	color: #ff7743;
	font-size: 1em;
}

.noncount {
	font-family: 'Ubuntu', sans-serif;
	color: #ff7743;
	font-size: 1em;
}

.oui {
	font-family: 'Ubuntu', sans-serif;
	color : #9696a0;
	font-size: 0.75em;
	margin-bottom: 0.5em;
}

.non {
	font-family: 'Ubuntu', sans-serif;
	color : #9696a0;
	font-size: 0.75em;
	margin-top: 0.5em;
}

.opincount {
	color: #78787e;
}

.reagir {
	color: #ff7743;
}

.auteur {
	color: #9696a0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.85em;
	line-height: 1.5em;
}