
.fullwidth {
   	width: 100%;
   	margin-left: auto;
   	margin-right: auto;
   	max-width: initial;
}

.header {
	background-attachment: fixed;
	background-image: url("../img/banner.jpg");
	background-size: cover;
}

h1.maintitle {
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: bold;
	color: #fff;
	display: inline-block;
}

.contenu-header {
	padding: 3em;
} 

.apheader {
	padding: 1.5em !important;
}

.connexion {
	display: inline-block;
	float: right;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 1.5em;
	color: #fff;
}

.connexion:hover {
	color: #fff !important;
}



.bigtitle{
	text-align: center;
	color: #fff;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	padding: 7em 0 0 0;
}

.bigtitle h2 {
	font-weight: bold;
	font-size: 2.5em;
}

.bigtitle p {
	font-size: 1.5em;
	margin-bottom: 1.75em;
	font-family: "Raleway", Helvetica, sans-serif;

}

.inscrip {
	background-color: rgba(255, 255, 255, 0.0);
	border: 1px solid #FFF;
	border-radius: 2.5em;
	color: #fff;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 1.2em;
    height: 3.25em;
    line-height: 3.25em;
    padding: 0 2.5em;
    text-transform: uppercase;
    font-weight: bold;
}

.button.inscrip:hover {
	background-color: rgba(255, 255, 255, 1.0);
	color: #C82028 !important;
}

.menu {
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 1.5em;
}

.menu li {
	padding-left: 2em;
}

.menu a {
	color: #407899;
}

.top-bar, .top-bar ul {
	background-color: #DBDBDB;
}

.bold {
	font-weight: bold;
}



#colonnes {
	-webkit-column-width: 320px; /* Chrome, Safari, Opera */
    -moz-column-width: 320px; /* Firefox */
	column-width: 320px;
	-webkit-column-gap: 15px; /* Chrome, Safari, Opera */
    -moz-column-gap: 15px; /* Firefox */
	column-gap: 15px;
  width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}


div#colonnes figure {
	background: #fefefe;
	margin: 0 2px 15px;
	transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}

div#colonnes figure img {
	width: 100%; height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#colonnes figure figcaption {
	text-align: center;
  font-size: 1.5rem;
	color: #444;
  font-family: "Raleway", Helvetica, sans-serif;
  padding-top: 0.5em;
  background-color: rgba(153,151,151, 0.7); 
  
}



div#colonnes figure .debat  {
	opacity: 0.95;
	text-align: center;
  font-size: 1.5rem;
	color: #fff;
  line-height: 1.5;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  padding: 0.5em 0.5em 0 0.5em;

}

div#colonnes figure .debat a {
	opacity: 0.95;
	color: #fff;

}

div#colonnes figure .debat:hover {
	opacity: 0.7;
}

.titre-button {
	border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

div#colonnes figure .debat .small {
	font-size: 0.7rem;
}

.one {
	background-color: #16283A;
}

.two {
	background-color: #2E0E02;
}

.three {
	background-color: #1E2F23;
}

.four {
	background-color: #768948;
}

.five {
	background-color: #4C191B;
}

.six {
	background-color: #291528;
}

.seven {
	background-color: #243119;
}

.eight {
	background-color: #3E78B2;
}

div#colonnes figure .react {
  font-size: .9rem;
	color: #444;
  line-height: 1.5;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  padding: 1em 1em 1em 1em;
  background-color: #E9E9E9;
  border-bottom: 1px solid #B0B0B0;
  border-left: 1px solid #B0B0B0;
  border-right: 1px solid #B0B0B0;
}

div#colonnes small { 
  font-size: 1rem;
  float: right; 
  text-transform: uppercase;
  color: #aaa;
} 

div#colonnes small a { 
  color: #666; 
  text-decoration: none; 
  transition: .4s color;
}



@media screen and (max-width: 750px) { 
  #colonnes { column-gap: 0px; }
  #colonnes figure { width: 100%; }
}


.button.success {
	border-radius: 0.5em;
	background-color: rgba(255, 255, 255, 0.3);
	
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-weight: bold;
	color: #484848;

}

.button.success:hover{
	background-color: rgba(255, 255, 255, 0.8);
	color: #484848;
}



.button.alert {
	border-radius: 0.5em;
	background-color: rgba(201, 45, 45, 0.7);
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-weight: bold;
	
}

.button.alert:hover {
	background-color: rgba(201, 45, 45, 1.0);
}

.quest {
	padding-bottom: 0.5em;
}


.reagir {
	border-radius: 0.5em;
	font-weight: bold;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 0.64em;
}

.apcon {
	padding: 0 0.5em;
	font-size: 1.2em !important;
}

.inscripform {
	margin-top: 5em;
	font-family: "Raleway", Helvetica, sans-serif;
}

.subheader {
	font-size: 3em;
	font-family: "Raleway", Helvetica, sans-serif;
}

.titleform {
	margin-top: 3em;
}

.inscripbutton {
	text-align: center;
}

.inscripbutton .button {
	width: 30%;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 1.2em;
	border-radius: 0.5em;
	background-color: #D56D6D;
}

.inscripbutton .button:hover {
	background-color: #FF6D6D;
	}

[type='text'] {
	border-radius: 0.5em;
}

[type='text']:focus {
	border-color: #D56D6D;
}

.discu {
	font-size: 1.4em;
	font-style: italic;
	color: #C6C6C6;
}
